.allPoints{
margin: 1%;
width:70%;
    
 
}
.point{
display: flex;
direction:row;
position: relative;
margin: 2%;
}

.number{
  position: absolute;
top: 3%;
  left: 4%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
}
